<% load_content %>
<% content_for :sidebar do %>
	<div id="sidebar">

		<div id="browse_more" class="lightblue" style="border:none;margin-bottom:10px;">
			<div class="section_title rootcontent" style="margin-bottom:0px;">More ways to browse</div>
			<div class="responseitem box grad" style="padding-top:0px;">
				<img src="/images/backgrounds/grad_white_bottom.png" class="gradimage" alt="gradient box" style=""/>	
				<div class="browse_more_link <%= "active" if params[:view] == "all_conversations"%>"><%= link_to "Most recent topics", :controller => "main", :action => "conversations", :view => "all_conversations" %></div>
				<div class="browse_more_link <%= "active" if params[:view] == "popular"%>"><%= link_to "Top rated by the community", :controller => "main", :action => "conversations", :view => "popular" %></div>
				<div class="browse_more_link <%= "active" if params[:view] == "faq"%>"><%= link_to "Selected by the moderators", :controller => "main", :action => "conversations", :view => "faq" %></div>
				<div class="browse_more_link <%= "active" if params[:view] == "no_replies"%>"><%= link_to "Topics awaiting a response", :controller => "main", :action => "conversations", :view => "no_replies" %></div>
				<div class="browse_more_link <%= "active" if params[:view] == "all_items"%>"><%= link_to "All posts", :controller => "main", :action => "conversations", :view => "all_items" %></div>
			</div>
		</div>
		
		<div id="tags" class="lightblue" style="border:none; margin-bottom:10px;">
			<div class="section_title rootcontent" style="margin-bottom:0px;">Tags</div>
			<div class="responseitem box grad" style="text-align:center;">
				<img src="/images/backgrounds/grad_white_bottom.png" class="gradimage" alt="gradient box" style=""/>	
				<% for tag in @all_tags[0..49].sort_by(&:name) %>
					<span class="<%= "active" if params[:tag] == tag.name %>" style="font-size:<%= (2.25 * (tag.count/@max_count)**0.5).round_to(2).to_s + 'em' %>;"><%= link_to h(tag.name), {:action => "conversations", :view => "tag", :tag => h(tag.name)}, :class => "tag_cloud_link" -%></span>
				<% end %>
			</div>
		</div>

	</div>
<% end %>
<!--
<% session[:hide_get_started] = nil if RAILS_ENV == "development" %>
<% if params[:get_started] == "true" and not (@current_user || session[:hide_get_started])%>
	<div id="get_started_div" class="itemblock lightorange">
		<div class="itemtitle">
			<div class="item_right_top"><%= link_to_remote "Close [x]", {:url => {:controller => "main", :action => "hide_get_started"}, :before => "Effect.BlindUp('get_started_div', {duration:0.5});"}, :style => "color:#fff;position:relative;top:-2px;" %></div>
			<div class="item_left_top">Getting Started</div>
		</div>
		<div class="responseitem box grad" style="padding:10px 0px;">
			<div style="position: relative;" class="itemcontent">
				<%= yield :get_started %>
			</div>
		</div>
	</div>
<% end %>
-->
<% if action_name == "search" %>
	<style type="text/css">
		.pagination {
			margin-top:0px;		
		}
		.disabled, .current {
			color:#dfdfdf;
		}
		.pagination a {
			color:white;
		}
	</style>
		
	<div class="section">
		<div id="conversations">
			<div class="section_title rootcontent">
				<span><%= @conversation_title %></span>
			</div>
			<% for item in @conversations %>
				<%= render :partial => "conversation_item", :locals => {:item => item} %>
			<% end %>
			<div style="text-align:center"><%= will_paginate @conversations, :params => {:search => {:q => params[:search][:q]}} %></div>
		</div>
		<%= yield :sidebar %>
	</div>
		
<% else %>

	<div class="section">
		<div id="conversations">
			<div class="section_title rootcontent">
				<% if ["tag","all_items","all_conversations"].include?(params[:view])%>
					<% rss_url = {:controller => "rss"} 
	   					rss_url.merge!(:action => "full") if params[:view] == "all_items"
	  				 	rss_url.merge!(:action => "tag", :id => params[:tag]) if params[:view] == "tag"
					%>
					<span style="float:right;clear:none;margin-top:3px;"><%= link_to image_tag('feed.png'), rss_url %></span>
				<% end %>
				<span><%= @conversation_title %></span>
			</div>
			<% for item in @conversations %>
				<%= render :partial => "conversation_item", :locals => {:item => item} %>
			<% end %>
			<div style="text-align:center"><%= will_paginate @conversations %></div>
		</div>
		<%= yield :sidebar %>
	</div>
	
<% end %><br />
<!--
<div style="width:100%;float:left;height:10px;"></div>
	<div class="section_title rootcontent "><%= submit_tag "Start a new conversation", :class => "formbutton", :onclick => "document.location = '/main/ask';" %>  </div>
</div>
-->