<% load_content %>
<div class="section" style="margin-top:5px;margin-bottom:50px;position:relative;">
    <div id="main_index_box">
        <div id="main_index_left">
            <h2><%= content_by_name "Welcome" %></h2>
            <div id="quotation" onmouseover="hovering = true;" onmouseout="hovering = false;">
                <%= image_tag "close_quote.png", :style => "position:absolute;bottom:0px;right:0px;" %>
                <div id="left_quote">
                    <%= image_tag "open_quote.png" %>
                </div>
                <div id="quotation_body">
                    <span id="fading_conversations" style="display:visible;"><a id="fade_link"></a></span>
                    <script type="text/javascript">
                        //<![CDATA[
                        var hovering = false
                        var conversations = '<%= custom_escape_javascript(conversation_faders(@conversations)) -%>'.evalJSON(true);
                        var i = 0;
                        var fadeLink = $('fading_conversations');
                        fadeLink.innerHTML = '<a href="/main/itemview/' + conversations[i].id + '" style="">' + conversations[i].item_text + '</a><br /><span class=\"fader_by\">posted by <a style=\"color: #2382A1;\" href=\"/dashboard/' + conversations[i].user + '\">' + conversations[i].user + '</a>, ' + conversations[i].ago + ' in the topic <a style=\"color: #2382A1;\" href=\"/main/itemview/' + conversations[i].root_id + '\">' + conversations[i].root_title + '</a></span>';
                        
                        function fader(){
                            if (hovering == false) {
                                if ((i + 1) < conversations.size()) {
                                    i++;
                                }
                                else {
                                    i = 0;
                                };
                                fadeLink.fade({
                                    duration: 0.5
                                });
                                setTimeout("fadeLink.innerHTML = '<a href=\"/main/itemview/' + conversations[i].id + '\" style=\"\">' + conversations[i].item_text + '</a><br /><span class=\"fader_by\">posted by <a style=\"color: #2382A1;\" href=\"/dashboard/' + conversations[i].user + '\">' + conversations[i].user + '</a>, ' + conversations[i].ago + ' in the topic <a style=\"color: #2382A1;\" href=\"/main/itemview/' + conversations[i].root_id + '\">' + conversations[i].root_title + '</a></span>';fadeLink.appear({duration:0.5});", 500);
                            }
                        }
                        
                        setInterval("fader();", 5000);
                        //]]>
                    </script>
                </div>
            </div>
        </div>
        <div id="main_index_right">
            <div id="main_index_logo">
                <a style="margin:30px 65px;float:left;" href="<%= $LV_ORG_URL %>"><%= image_tag "#{$LV_ORG_LOGO_URL}" %></a>
            </div>
        </div>
    </div>
    <div id="share_your_story">
        <a  style="position:relative;top:-12px;" href="/conversations">Go to Discussions </a>
    </div>
</div>
