<div class="section" style="margin-top:5px;margin-bottom:20px;">
		<div class="rootcontentcontainer box grad lightblue" style="height:500px;">
			<img src="/images/backgrounds/grad_white_bottom.png" class="gradimage" alt="gradient box" />
			<div class="rootcontent" style="width:inherit;">
			<div id="signup_survey">			
				<p style="font-weight:bold;font-size:1.1em;">Thank You! A confirmation e-mail was sent to the e-mail address you provided. You will have to open that e-mail and click the link provided to complete your registration.</p>
				<p>While you wait, would you mind completing this brief, optional survey? Your responses are confidential (see our <%= link_to "privacy policy", :action => "privacy" %> for more information).</p>
				<br />
				<% form_for :survey_response, :action => "survey", :method => :post do |f| %>
				<p class="survey_question"> 1. On a scale of 1 (beginner) to 5 (expert), how would you describe your knowledge of personal computers?</p>
				<p class="survey_answer"><%= f.select :question_1, [[1,1],[2,2],[3,3],[4,4],[5,5]] %></p>
				<p class="survey_question">2. How did you learn about <%= $SITE_NAME%>? </p>
				<p class="survey_answer"><%= f.select :question_2, [[$SITE_NAME,$ORG_NAME],["Consumer Reports","Consumer Reports"],["News/Media Story","News/Media Story"],["Blog/Website","Blog/Website"],["Friend or Relative","Friend or Relative"],["Other","Other"]] %></p>
				<p class="survey_question">3. Have you, to your knowledge, ever been a victim of a computer virus, spyware, or other badware?</p>
				<p class="survey_answer"><%= f.select :question_3, [["Yes","Yes"],["No","No"],["Not Sure","Not Sure"]] %></p>
				<p class="survey_question">4. Do you believe that you have the knowledge you need to protect yourself, your computer, and your website (if applicable) from online threats?</p>
				<p class="survey_answer"><%= f.select :question_4, [["Yes","Yes"],["No","No"],["Not Sure","Not Sure"]] %></p>
				<p class="survey_question">5. Do you currently own or operate a website or blog? </p>
				<p class="survey_answer"><%= f.select :question_5, [["Yes","Yes"],["No","No"]] %></p>
				
				<div style="float:right;clear:none;">
					<%= link_to "Skip the survey", {:action => "conversations", :view => "popular" }, :style => "font-weight:bold;"%>
					<%= f.submit "Submit Survey"%>
				</div>
				<% end %>
				
			</div>
			</div>
		</div>
</div>