<%= render :partial => 'navigation' %>
<% @page_title = "Admin - Users : Activity" %>
<table id="users">
	<tr class="user labels">
		<td class="login"><%= link_to "Login", :action => :users, :desc => !params[:desc], :view => "activity" %></td>
		<td class="reputation"><%= link_to "Reputation", :action => :users, :sort => "reputation", :desc => !params[:desc], :view => "activity" %></td>
		<td class="level">Level</td>
		<td class="seen">Last Login</td>
		<td class="messages"><%= link_to "Messages", :action => :users, :sort => "messages", :desc => !params[:desc], :view => "activity" %></td>
		<td class="reputation"><%= link_to "Votes", :action => :users, :sort => "votes", :desc => !params[:desc], :view => "activity" %></td>
		<td class="ban" />
	</tr>
	<% for user in @users %>
		<tr class="user" style="background:<%= cycle('#f3f3f3','#fff') %>;">
			<td class="login"><%= link_to user.login, dashboard_url(user.login) %></td>
			<td class="reputation"><%= user.rawscore ? user.rawscore.floor : "&nbsp;"   %></td>
			<td class="level"><%= user.stars || "&nbsp;" %></td>
			<td class="seen"><%= user.last_login ? distance_of_time_in_words_to_now(user.last_login)  + " ago" : "&nbsp;"  %></td>
			<td class="messages"><%= user.items.count %></td>
			<td class="reputation"><%= user.ratingactions.count %></td>
			<td class="ban"><%= user.enabled == false ? link_to("Un-Ban", :action => "unban", :id => user.id ) : link_to("Ban", :action => "ban", :id => user.id ) %></td>
		</tr>
	<% end %>
	</table>

<br />
<%= will_paginate ((["reputation","messages","votes"].include?(params[:sort]) and params[:conditions] == nil) ? @scores : @users) %>
