
<div id="navigation" class="section">
	<div class="section_title rootcontent" style="height:25px">
	<div class="search" style="display:inline;">
		<%= form_tag :action => @current_action, :view => params[:view], :conditions => params[:conditions], :sort => "search" %>
			<%= text_field_tag :search, '', {:size => 30} %>
		</form>
	</div>
	<div id="admin_nav">
	<span class="active"><%= link_to "Messages", :controller => "admin", :action => "messages" %></span>
	<span><%= link_to "Reported Spam", :controller => "admin", :action => "messages", :view => "spam", :conditions => "items.item_active = true" %></span>
	<span><%= link_to "Nuked", :controller => "admin", :action => "messages", :view => "nuked", :conditions => {:item_active => false}, :sort => "updated_at", :desc => true%></span>
	<span class="active" style="margin-left:0px;"><%= link_to "Users", :controller => "admin", :action => "users", :sort => "reputation", :desc => true %></span>
	<span><%= link_to "Banned", :controller => "admin", :action => "users", :view => "banned", :sort => "updated_at", :desc => true, :conditions => {:enabled => false} %></span>
	<span><%= link_to "Activity", :controller => "admin", :action => "users", :view => "activity" %></span>
	<% if check_role('administrator') %>
		<span class="active"><%= link_to "Content", :controller => "contents", :action => "index" %></span>	
		<span><%= link_to 'New', new_content_path %></span>
		<span class="active"><%= link_to "Stats", :controller => "admin", :action => "stats" %></span>
		<span class="active"><%= link_to "Site Config", :controller => "site_configs", :action => "index" %></span>
		<span><%= link_to 'New', new_site_config_path %></span>
	<% end %>
	</div>
	</div></div>
