<%= render :partial => 'admin/navigation' %>
<% @page_title = "Admin - Settings" %>

<div class="section" id="settings">
	<%= form_tag :action => :update %>
		<% @settings.each_pair do |namespace, settings| %>
			<fieldset>
				<legend><%= h(namespace)%></legend>
				<table><tbody>
				<% settings.each_pair do |key, value| %>
					<tr><% id = h('setting_' + namespace + '_' + key) %>
					<td><label for="<%= id %>"><%= key %>: </label></td>
					<td><input type="text" name="<%= id %>" id="<%= id %>" value="<%= (value == nil || value.is_a?(String)) ? h(value) : value.to_json %>" /></td>
					</tr>
				<% end %>
				</tbody></table>
			</fieldset>
		<% end %>
		<fieldset><input type="submit" value="Save Settings" /></fieldset>
	</form>
	
</div>