<div id="response_summary" name="response_summary"> 

	<div class='rootitem' style='margin-left: 0'> 
		<b><%= h(@item_root.itemtext) %></b>
	</div>
	
	<% for item in @item_self_and_ancestors %>	
		<%= divclass = 
			case item
	          when @item_root  then 'rootitem'
	          when @item   then 'hiliteitem'
	          else  'responseitem' 	
	        end	
		 "<div class='" + divclass + "'> <p>" + h(item.itemtext) + "</p><p align=right>" + link_to ("focus here", {:action => 'show', :id => item.id, :controller => "items"}) + "</div>" 
		%>
	<% end %>
	
	<%= link_to ('View Thread', :action => 'itemview', :id => @item.item_root_id, :controller => "main") %> |
	<%= link_to ("Nuke Message", { :action => "nuke!", :id => @item, :controller => "main" }) %> |
	<%= link_to 'Ban User', item_path(@item) %>
</div>