<h2>New scoretype</h2>

<% form_for :scoretype, @scoretype, :url => { :action => "create" } do |f| %>
  <%= f.error_messages %>

  <p>Name: <%= f.text_field :name %></p>
  <p>Award: <%= f.text_field :award %></p>
  <p>Description:<%= f.text_field :description, :size => 65 %></p>
  <p>Version: <%= f.text_field :version %></p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', scoretypes_path %>
